  </div>

</div>


</body>
<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/libs/bootstrap/js/bootstrap-select.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap-switch.min.js"></script>
<script src="/libs/bootstrap/js/jquery.metadata.js"></script>
<script src="/libs/bootstrap/js/jquery.tablesorter.min.js"></script>
<script src="/libs/bootstrap/js/jquery.tablecloth.js"></script>
<script src="/libs/bootstrap/js/bootstrap-combobox.js"></script>
<script src="/javascripts/main.js"></script>

</html>